<!doctype html>
<title> Unauthorized</title>
<h1> Yikes, looks like you need to <a href='/login'>login</a></h1>
<h1> or <a href='/register'>make an account</a></h1>


<ul>
    <li><a href='/albums'>View Your Albums/Photos</a> </li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/browse'>Browse All Photos</a> </li>
    <li><a href='/also_like'>You may also like</a> </li>
    <li><a href='/friends'>Friends</a> </li>
    <li><a href='/friend_recommendation'>Friend Recommendations</a> </li>
    <li><a href='/popular_tags'>Popular Tags</a> </li>
    <li><a href='/photo_search'>Photo Search</a> </li>
    <li><a href='/comment_search'>Comment Search</a> </li>
    <li><a href='/user_contributions'>User Contributions</li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>
